### Data structures
* strings -->" "or''
* lists  -->[]
* tuples  -->()
* dictionaries -->{key:value}
* sets -->{}

In [1]:
n=" "
type(n)

str

In [2]:
n=[]
type(n)

list

In [3]:
n=()
type(n)

tuple

In [4]:
n={}
type(n)

dict

### strings
* collection of data/information with""or''
* **Acessing Indexing values**
     * Forward Index(left to right(starts from 0 to n-1))
     * Backward Index(right to left(-1))
* **Deleting a string**
     * using del keyword
* **Slicing string**

In [66]:
s='welcome'
print(s)
print(type(s))
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])

welcome
<class 'str'>
w
e
l
c
o
m
e

In [6]:
s='welcome'
print(type(s))

<class 'str'>

In [8]:
s=10
(type(s))

int

In [12]:
#backward index(-1)
print(s[-1])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6])
print(s[-7])

e
m
o
c
l
e
w

In [16]:
s="welcome python programming"
(s[7])

' '

In [17]:
print(s[:])

welcome python programming

In [19]:
print(s[:1])

w

In [20]:
print(s[1:6])

elcom

In [36]:
(s[0:7:2])

'wloe'

In [33]:
print(s[0::3])

wceyopgmn

In [38]:
s='welcome'
print(s[::-1])

emoclew

In [40]:
n=input()
if(n==n[::-1]):
    print(n[::-1])
    print("palindrome")

wow
wow
palindrome

In [7]:
s='welcome'
(s[-7:-1])

'welcom'

In [8]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [17]:
s="python programming language"
print(s.capitalize()) #only first character capital
print(s.upper())
print(s.title()) #every first letter is caps
print(s.islower())

Python programming language
PYTHON PROGRAMMING LANGUAGE
Python Programming Language
True

In [16]:
s="PYTHON PROGRAMMING LANGUAGE"
print(s.casefold())

python programming language

In [18]:
s="python"
s.center(8)

' python '

In [20]:
s="PythoN PrOgraMming LanGuage"
s.swapcase()

'pYTHOn pRoGRAmMING lANgUAGE'

In [29]:
s="PythoN PrOgraMming LanGuage"
print(s.casefold())
print(s.isupper())

python programming language
False

In [32]:
s="  python "
s.rstrip()

'  python'

In [37]:
s="   python  "
s.lstrip()

'python  '

In [31]:
s="python"
s.endswith('')

True

In [33]:
s="  hii"
s.isspace()  #if string contains only spaces return true

False

In [35]:
s="  @23mVlgk"
s.isalpha()

False

In [37]:
s=" "
s.isspace()

True

In [38]:
#encode-to convert into bytes
s="hello"
print(type(s))
s1=s.encode()
print(type(s1))
print(s1)

<class 'str'>
<class 'bytes'>
b'hello'

In [1]:
s="37624"
s.isdigit()

True

In [35]:
s="mouni 20 sheema 24"
for i in s:
    if i.isalpha():
        print(i,end="") 

for j in s:
    if j.isdigit():
        print(j,end='')

mounisheema2024

In [19]:
s=input()
l=""
e=""
for i in s:
    if i.isalpha():
        l+=i
    elif i.isdigit():
        e+=i
print(l)
print(e)

"mouni 20 sheema 24"
mounisheema
2024

In [32]:
s=input()
l=""
e=""
m=""
n=""
o=""
ucount=0
lcount=0
scount=0
dcount=0
for i in s:
    if i.isalpha():
        n=n+i
        if i.isupper():
            ucount+=1
            l=l+i
        elif i.islower():
            lcount+=1
            e=e+i
    elif i.isspace():
        scount+=1
        
    elif i.isdigit():
            dcount+=1
            m=m+i
print(n)
print(l,ucount)
print(e,lcount)
print("space",scount)
print(m,dcount)

mOUniKA  20 SheEMa 24
mOUniKASheEMa
OUKASEM 7
mnihea 6
space 4
2024 4

In [36]:
s="welcome python classes"
s.count('s')

3

In [41]:
s='welcome\tpython'                  
s.expandtabs(7)

'welcome       python'

In [42]:
s="hello"
s.zfill(8)

'000hello'

In [44]:
"{} {} language".format('python', 'programming')

'python programming language'

In [47]:
n=int(input())
for j in range(1,11): 

    print("{}*{}={}".format(n,j,n*j))

3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [49]:
#index
s="vignan"
s.index('g')

2

In [51]:
s='hello'
print(s.index('l'))
print(s.rindex('l'))

2
3

In [54]:
#join
s="hello"
'@'.join(s)

'h@e@l@l@o'

In [55]:
s="welcome python classes"
s.split()

['welcome', 'python', 'classes']

In [56]:
s=['welcome', 'python', 'classes']
s[0][2]

'l'

In [57]:
#replace("oldvalue","new value")
s="welcome python classes"
s.replace("welcome","hello")

'hello python classes'

In [59]:
s="appsdc PYTHON pROGrAMmiNG vignans lara"
n=s.split()
print(n[0].capitalize(),end=" ")
print(n[1].lower(),end=" ")
print(n[2].swapcase(),end=" ")
print(n[3],end=" ")
print(n[4].upper())

Appsdc python ProgRamMIng vignans LARA

In [65]:
n=input()
n1=n.split()
print(n1[0][0],".",n1[1],sep="")

 Rayana Mounikarani
R.Mounikarani

In [64]:
n=input()
n1=n.split()
print("{}.{}".format(n1[0][0],n1[1]))

Rayana Mounikarani
R.Mounikarani

### Lists
* List items are ordered, changeable, and allow duplicate values.
* separated by ,in[]

In [67]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [68]:
l=[]
print(l)
print(type(l))
l.append(1)
print(l)
l.append(2)
print(l)
l.append([3,4,5])
print(l)
print(l[2][1])

[]
<class 'list'>
[1]
[1, 2]
[1, 2, [3, 4, 5]]
4

In [69]:
l1=[]
print(l1)
l1=l
print(l)

[]
[1, 2, [3, 4, 5]]

In [70]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
l=[]
print("1.",l)
print("2.",type(l))
l.append(1)
print("3.",l)
l.append(2)
print("4.",l)
l.append([3,4,5])
print("5.",l)
print("6.",l[2][1])
l.pop()
print("7.",l)
l.pop(1)
print("8.",l)
l1=[23,45,634,546,4523,321,36,35,542]
l1.reverse()
print("9.",l1)
l1.sort() #ascending order
print("10.",l1)
l1.sort(reverse=True)#descending order

1. []
2. <class 'list'>
3. [1]
4. [1, 2]
5. [1, 2, [3, 4, 5]]
6. 4
7. [1, 2]
8. [1]
9. [542, 35, 36, 321, 4523, 546, 634, 45, 23]
10. [23, 35, 36, 45, 321, 542, 546, 634, 4523]

In [72]:
n=int(input())
l=[]
for i in range(0,n+1):
    if i%2==0:
        l.append(i)
print(l)

50
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [75]:
l=[]
for i in range(1,2021):
    if(i%4==0 and i%100!=0 )or (i%400==0):
        l.append(i)
print(l)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248, 252, 256, 260, 264, 268, 272, 276, 280, 284, 288, 292, 296, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400, 404, 408, 412, 416, 420, 424, 428, 432, 436, 440, 444, 448, 452, 456, 460, 464, 468, 472, 476, 480, 484, 488, 492, 496, 504, 508, 512, 516, 520, 524, 528, 532, 536, 540, 544, 548, 552, 556, 560, 564, 568, 572, 576, 580, 584, 588, 592, 596, 604, 608, 612, 616, 620, 624, 628, 632, 636, 640, 644, 648, 652, 656, 660, 664, 668, 672, 676, 680, 684, 688, 692, 696, 704, 708, 712, 716, 720, 724, 728, 732, 736, 740, 744, 748, 752, 756, 760, 764, 768, 772, 776, 780, 784, 788, 792, 796, 800, 804, 808, 812, 816, 820, 824, 828, 832, 836, 840, 844, 848, 852, 856, 860, 864, 868, 872, 876, 880, 884, 888, 892, 896, 904, 908, 912, 916, 920, 924, 928, 932, 936, 940, 944, 948, 952, 956, 960, 964, 968, 972, 976, 980, 984, 988, 992, 996, 1004, 1008, 1012, 1016, 1020, 1024, 1028, 1032, 1036, 1040, 1044, 1048, 1052, 1056, 1060, 1064, 1068, 1072, 1076, 1080, 1084, 1088, 1092, 1096, 1104, 1108, 1112, 1116, 1120, 1124, 1128, 1132, 1136, 1140, 1144, 1148, 1152, 1156, 1160, 1164, 1168, 1172, 1176, 1180, 1184, 1188, 1192, 1196, 1200, 1204, 1208, 1212, 1216, 1220, 1224, 1228, 1232, 1236, 1240, 1244, 1248, 1252, 1256, 1260, 1264, 1268, 1272, 1276, 1280, 1284, 1288, 1292, 1296, 1304, 1308, 1312, 1316, 1320, 1324, 1328, 1332, 1336, 1340, 1344, 1348, 1352, 1356, 1360, 1364, 1368, 1372, 1376, 1380, 1384, 1388, 1392, 1396, 1404, 1408, 1412, 1416, 1420, 1424, 1428, 1432, 1436, 1440, 1444, 1448, 1452, 1456, 1460, 1464, 1468, 1472, 1476, 1480, 1484, 1488, 1492, 1496, 1504, 1508, 1512, 1516, 1520, 1524, 1528, 1532, 1536, 1540, 1544, 1548, 1552, 1556, 1560, 1564, 1568, 1572, 1576, 1580, 1584, 1588, 1592, 1596, 1600, 1604, 1608, 1612, 1616, 1620, 1624, 1628, 1632, 1636, 1640, 1644, 1648, 1652, 1656, 1660, 1664, 1668, 1672, 1676, 1680, 1684, 1688, 1692, 1696, 1704, 1708, 1712, 1716, 1720, 1724, 1728, 1732, 1736, 1740, 1744, 1748, 1752, 1756, 1760, 1764, 1768, 1772, 1776, 1780, 1784, 1788, 1792, 1796, 1804, 1808, 1812, 1816, 1820, 1824, 1828, 1832, 1836, 1840, 1844, 1848, 1852, 1856, 1860, 1864, 1868, 1872, 1876, 1880, 1884, 1888, 1892, 1896, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

In [76]:
l=[]
for i in range(5,500):
    if(i%5==0 and i%7==0):
        l.append(i)
print(l)

[35, 70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490]

In [77]:
l=[]
for i in range(ord('A'),ord('Z')):
    l.append(i)
print(l)

[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89]

In [83]:
l=[]
for i in range(ord('A'),ord('Z')+1):
    if i%2==0:
        l.append(chr(i))
print(l)

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']

In [82]:
ord('b')

98

In [84]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [85]:
t=(1,2,3,4,5,6,7)
print(t)
print(type(t))

(1, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [86]:
t=(1,2,3,4,5,6,7)
t1=list(t)
print(t1)
print(type(t1))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [88]:
t=(1,2,3,4,5,6,7)
t2=set(t)
print(t2)
print(type(t2))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [89]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [90]:
t=(2,2,24,90,4,7,)
t.count(2)

2

In [93]:
print(max(t))
print(min(t))

90
2

In [96]:
l=[1,2,3,4,5,6]
l1=list(map(str,l))
print(l1)

['1', '2', '3', '4', '5', '6']

In [97]:
l=[1,2,3,4,5,6]
l1=list(map(float,l))
print(l1)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [12]:
t1=(2,2,4,3,5,8,6,4,9,1)
l=list(map(lambda i: i*i,t1))
print(l)
l2=tuple(l)
print(l2)
max_value=max(l2)
print(max_value)
index_value=l2.index(max_value)
print(index_value)

[4, 4, 16, 9, 25, 64, 36, 16, 81, 1]
(4, 4, 16, 9, 25, 64, 36, 16, 81, 1)
81
8

In [4]:
t=(2,2,4,3,5,8,6,4,9,1)
l=[]
count=0
for i in t:
    l.append(i*i)
print(l)
t1=tuple(l)
print(t1)
max_value=max(t1)
max_index=t1.index(max_value)
print(max_index)
min_value=min(t1)
for i in t1:
    if(i==min_value):
        count=count+1
print(count)

[4, 4, 16, 9, 25, 64, 36, 16, 81, 1]
(4, 4, 16, 9, 25, 64, 36, 16, 81, 1)
8
1

### dictionaries

In [13]:
d={}
print(type(d))
d1=dict()
print(type(d1))

<class 'dict'>
<class 'dict'>

In [14]:
l1=['a','b','c']
l2=[1,2,3]
d1=dict(zip(l1,l2))
print(d1)

{'a': 1, 'b': 2, 'c': 3}

In [15]:
l1=['a','b','c']
l2=(1,2,3)
d1=dict(zip(l1,l2))
print(d1)

{'a': 1, 'b': 2, 'c': 3}

In [16]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [12]:
d={"name":"mouni","branch":"cse","rollno":76}
print(d.keys())
print(d.values())
print(d.items())
print(d.popitem())
d["branch"]="eee"
print(d)
print(d.setdefault('branch'))
print(d.setdefault("program"))

dict_keys(['name', 'branch', 'rollno'])
dict_values(['mouni', 'cse', 76])
dict_items([('name', 'mouni'), ('branch', 'cse'), ('rollno', 76)])
('rollno', 76)
{'name': 'mouni', 'branch': 'eee'}
eee
None

In [6]:
print(d.get('name'))
d["college"]="lara"
print(d)

mouni
{'name': 'mouni', 'branch': 'eee', 'college': 'lara'}

In [14]:
#fromkeys(sequence,value)
t=('key1','key2')
d=dict.fromkeys(t)
d

{'key1': None, 'key2': None}

In [15]:
t=('key1','key2')
m=9
d=dict.fromkeys(t,m)
d

{'key1': 9, 'key2': 9}

In [ ]:
# sets
 -repesented by {}
 - unordered and unindexed
 - doesnt allow duplicates

In [16]:
l={1,3,4,5,2,4,6}
set(l)

{1, 2, 3, 4, 5, 6}

In [18]:
l={1,3,4,5,2,4,6}
    
print(4 in l)

True

In [19]:
for i in l:
    print(i)

1
2
3
4
5
6

In [20]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [48]:
k={2,3,3,4,5,8}
(k.add(6))
print(k)

{2, 3, 4, 5, 6, 8}

In [49]:
k.update({1.9,'j',10})
print(k)

{2, 3, 4, 5, 6, 'j', 8, 10, 1.9}

In [50]:
k.pop()
print(k)

{3, 4, 5, 6, 'j', 8, 10, 1.9}

In [51]:
k.remove('j')
print(k)

{3, 4, 5, 6, 8, 10, 1.9}

In [ ]:
- difference
  - variable=set1.difference(set2)
- difference_update
  _set1.dfifference_update(set2)

In [55]:
l={1,2,3,5,6,7}
k={'a','h','f'}
m =l.difference(k)
print(m)

{1, 2, 3, 5, 6, 7}

In [60]:
l={1,2,3,5,6,7}
k={'a','h','f'}
m =k.difference(l)
print(m)

{'a', 'f', 'h'}

In [61]:
k.difference_update(l)
k

{'a', 'f', 'h'}

In [74]:
k={1,2,3,4}
l={1,5,6,7}
m=l.intersection(k)
print(m)

{1}

In [64]:
print(k.symmetric_difference(l))

{2, 3, 4, 5, 6, 7}

In [69]:
m=l.intersection_update(k)
print(m)
print(l)

None
{1}

In [75]:
n=k.symmetric_difference_update(l)
print(n)
print(l)
print(k)

None
{1, 5, 6, 7}
{2, 3, 4, 5, 6, 7}

In [76]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}
print(A.issuperset(B))
print(B.issuperset(A))
print(C.issuperset(B))

True
False
True

In [78]:
 A={1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}
print(A.issubset(B))
print(B.issubset(A))
print(C.issubset(B))

False
True
True

In [79]:
A = {1, 2, 3, 4}
B = {5, 6, 7}
C = {4, 5, 6}
print(A.isdisjoint(B))

True

In [80]:
x  = {"apple", "banana", "cherry"}
y ={"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'banana', 'google', 'microsoft', 'apple', 'cherry'}