### Loops

###  syntax of for
for i in range(arg):  --->int

for i in variable_name: --->string

In [5]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [7]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [17]:
for i in range(0,11,2):
    print(i,end=' ')

0 2 4 6 8 10

In [16]:
n1=int(input())
n2=int(input())
for i in range(n1,n2+1):
    if(i%2==0):
       print(i,end=' ')

1
10
2 4 6 8 10

In [24]:
n=int(input())
sum1=0
    print(i,end=' ')
    sum1=sum1+i
print("\nsum is:",sum
for i in range(1,n):1)
average=sum1/n
print("average is:",average)

6
1 2 3 4 5
sum is: 15
average is: 2.5

In [3]:
n1=int(input())
n2=int(input())
sum1=0
count=0
for i in range(n1,n2+1):
    count+=1
    print(i,end=" ")
    sum1+=i
print("\n",sum1)
average=sum1/count
print(average)

5
8
5 6 7 8
 26
6.5

In [4]:
n1=int(input())
n2=int(input())
sum1=0
count=0
for i in range(n1,n2+1):
     if i%2==0:         
        count+=1
        print(i,end=" ")
        sum1+=i
print("\n",sum1)
average=sum1/count
print(average)

10
20
10 12 14 16 18 20
 90
15.0

In [9]:
n1=(input())
n2=(input())
sum1=0
count=0
for i in range(int(n1),int(n2)):
    count+=1
    print(i,end=" ")
    sum1+=int(i)
print("\n",sum1)
average=sum1/count
print(average)

3
8
3 4 5 6 7
 25
5.0

In [13]:

n=int(input())
fact=1
for i in range(1,n+1):
    fact=fact*i
print("factorial of ",n,"is :",fact)

6
factorial of  6 is : 720

In [25]:
n=int(input())
if n>1:
    for i in range(2,n):
        if n%i==0:
            print(n,"is not a prime number")
            break
    else:
        print(" prime number")
else:
    print(" not a prime number")

5
 prime number

In [6]:
n=int(input())
sum1=0
for i in range(1,n):
    if n%i==0:
        sum1=sum1+i
if sum==n:
    print("perfect number")
else:
    print("not perfect number")

8
not perfect number

In [15]:
n=int(input())
sum1=0
fact=1

if n%2==0:
    for i in range(1,n):
        if n%i==0:
             sum1+=i
    if sum1==n:
            print("perfect number")
    else:
        print(" not a perfectnumber")
else:
    for i in range (1,n+1):
        fact=fact*i
    print("factorial of a number is ",fact)

5
factorial of a number is  120

In [41]:
n=int(input())
for i in range(1,n+1):
    #print()
    for j in range (1,11):
        print(i,"*",j,"=",i*j)
    #print(sep=" ")

3
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [46]:
n=int(input())
for i in range(1,n+1):
    print(i,end=' ')
    if i==5:
        break

8
1 2 3 4 5

In [45]:
n=int(input())
for i in range(1,n+1):
    if i==5:
        continue
    print(i,end=' ')

8
1 2 3 4 6 7 8

In [49]:
 n=input()
for i in n:
    print(i,end=' ')

mouni
m o u n i

#### ord() -->calculate the ascii value from the character,parameter is string
#### chr() -->calculate character from ascii value

In [51]:
print(ord('a'))
print(ord('A'))
print(ord('8'))

97
65
56

In [52]:
print(chr(99))
print(chr(65))

c
A

In [54]:
n=input()
for i in n:
    print(ord(i))

mounika
109
111
117
110
105
107
97

In [56]:
name=input()
for i in name:
    if(ord(i)%2==0):
        print(i)

mounika
n

In [66]:
name=input()
for i in name:
    if(ord(i)%2==0):
        print(i,end=' ')
    else:
        res=(ord(i)*ord(i))/90
        res1=int(res)
        print(chr(res1),end=' ')

python
p ¢ t h  n

In [79]:
print(101*101/90)

113.34444444444445

In [78]:
print(ord('e'))

101

In [65]:
name=input()
for i in name:
    if(ord(i)%2==0):
        print(i)

python
p
t
h
n

In [80]:
print(chr(113))

q

###  while loop

In [2]:
i=1
sum1=0
while i<=10:
    print(i,end=' ')
    sum1=sum1+i
    i=i+1
print(sum1)

1 2 3 4 5 6 7 8 9 10 55

In [ ]:
### functions
* block of statements /set of statements to perform particular taskto perform
* block of statements will execute and return the result when function called
### function contains
1.function declarations
2.body of function
3.function calling

## types of functions
1.built in
2.max
3.min
4.sum
5.len
6.chr
7.abs

### 2.user-define
* it is a function which is defined by user o perform particular task
 1.required arguments
 2.default arg
 3.keyword arg
 4.variable length

In [ ]:
# syntax for function
def function name(arg):
        body of function
function_name

In [1]:
n=input()
def sample():
    print("welcome to vignan " + n)
sample()

sheema
welcome to vignan sheema

In [6]:
#local variables
def local():
    n=int(input())
    n1=int(input())
    print("multiplication of",n,"and",n1,"is",n*n1)
local()

7
8
multiplication of 7 and 8 is 56

In [7]:
n=int(input())
n1=int(input())
def local():
    print("multiplication of",n,"and",n1,"is",n*n1)
local()
print(n,n1)

8
9
multiplication of 8 and 9 is 72
8 9

In [22]:


n=int(input())

def perfect_number(n):
    sum1=0
    if n%2==0:
        for i in range(1,n):
              if n%i==0:
                sum1+=i
        if sum1==n:
            print("perfect number")
        else:
            print(" not a perfectnumber")
def odd(n):
    for i in range (1,n+1):
        fact=fact*i
    print("factorial of a number is ",fact)

if(n%2==0):
    perfect_number(n)
else:
    odd(n)

6
perfect number

In [3]:

def required(name,org,phn):
    print("name is:",name)
    print("organization name is:",org)
    print("phone no:",phn)
required("mouni",'vignan','14286')

name is: mouni
organization name is: vignan
phone no: 14286

In [4]:
name=input()
org=input()
def required(name,org):
    print("name is:",name)
    print("organization name is:",org)
required("mouni",'vignan')

sheema
oxford
name is: mouni
organization name is: vignan

In [5]:
#default
def default(a,b,c=10):
    print("addition:",a+b+c)
    print("mul is:",a*b*c)
default(1,2)
default(1,4,6)

addition: 13
mul is: 20
addition: 11
mul is: 24

In [6]:
#keyword-values assigned acoording to key 
def keyword(fname,lname,uname):
    print("name is:",fname+lname)
    print("user name:",uname)
keyword('mounika','@hfkyf','hfddshf')

name is: mounika@hfkyf
user name: hfddshf

In [7]:
def keyword(fname,lname,uname):
    print("name is:",fname+lname)
    print("user name:",uname)
keyword(fname='mounika',uname='@hfkyf',lname='hfddshf')

name is: mounikahfddshf
user name: @hfkyf